# OS
Thumbs.db
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env (密码不要提交)
.env
*.local

# Logs
*.log
*.tmp
startup_log.txt

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.sln
.vs/
.vscode/

# UE packaged builds
WindowsNoEditor/
*.lnk

# IDE
.idea/
*.swp
*.swo
*~